<appSettings>
  <add key="skin" value="" />
  <add key="ServerHost" value="W6JljOD/WI9Hxsa6SVXxyVs/+wz+ZI9jQwTs9BsUfBY=" />
  <add key="Username" value="SfsMjcenJ68=" />
  <add key="Password" value="GuTX0lmWQdbvqP2EfzAUdA==" />
  <add key="Database" value="VKuqGoXpl4CZ6cqR1FXIJQ==" />
  <add key="checkEditNhoPass" value="True" />
  <add key="LoginUser" value="YNSHXdblvOk=" />
  <add key="LoginPassword" value="TabtzN5ZseA=" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>