<appSettings>
  <add key="skin" value="" />
  <add key="ServerHost" value="E8bW11A82yeCdcUQD76COZnpypHUVcgl" />
  <add key="Username" value="SfsMjcenJ68=" />
  <add key="Password" value="Wfcy3r2UVFE=" />
  <add key="Database" value="VKuqGoXpl4CZ6cqR1FXIJQ==" />
  <add key="checkEditNhoPass" value="false" />
  <add key="LoginUser" value="" />
  <add key="LoginPassword" value="" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>